@import "tailwindcss";

:root {
  --bg: #3d3d3d;
  --surface: #6b5757;
  --sage: #95b5a8;
  --sage-light: #c5ddd6;
  --accent: #00e676;
  --text: #ffffff;
  --text-muted: #c5ddd6;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}